<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>我的 Flask 網頁</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <h1>欢迎来到我的 Flask 网站！</h1>
    <p>这是一个通过 render_template 渲染的 HTML 页面。</p>

    <hr>
    <h3>測試輸入判斷：</h3>
    <form action="/submit" method="POST">
        <input type="text" name="user_input" placeholder="請輸入一些文字...">
        <button type="submit">送出檢查</button>
    </form>
    <hr>

    <p>測試所有的路由連結：</p>
    <a href="/about"><button>去「關於我們」頁面</button></a>
    <a href="/hello"><button>去「Hello」頁面</button></a>
    
    <a href="/user/王小明"><button>測試中文打招呼（/user/王小明）</button></a>
    <a href="/hello/Alex"><button>測試英文打招呼（/hello/Alex）</button></a>

</body>
</html>